@font-face {
  font-family: "Player2";
  src: url("./fonts/PressStart2P-Regular.ttf");
  font-weight: 400;
  font-weight: normal;
}

#parr {
  font-family: "Player2";
}

.inputElements {
  font-family: "Player2";
  font-size: 16px;
}

.highscore-container {
  width: 500px;
  height: 380px;
}
.highscore-container p {
  font-family: "Player2";
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: min-content;
}

#leaderboard {
  width: 100%;
}

#list-highscores {
  width: 100%;
  height: 320px;
  overflow-y: scroll;
}

.score-container {
  font-family: "Player2";
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  padding: 10px;
  align-items: center;
}

.score-position, .score-score, .score-name {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
